.video-container{
    width: auto;
    height: fit-content;
    display: grid;
    align-items: center;
    border-radius: 7px 7px 3px 3px ;

}
.video-container > .video > iframe{
    width: 100%;
    height: auto;
    min-height: 200px;
    border: transparent;
    border-radius: 7px 7px 0px 0px;
}

.video-title{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 0px 0px 3px 3px;
    margin-top: -5px;
}

.video-title > p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}